@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(//db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std+Bold);

* {
  margin :0;
  padding :0;
  font-family: 'Roboto', sans-serif;
  
}

:root{
  --main-color:#272D4E;
  --second-color:#FFFFFF;
  --third-color:#000000;
  --fourth-color:#7854F7;
  --fifth-color: #9B5C8F;
  --sixth-color:#70C217;
  --seventh-color:#FFBA49;
  --eigth-color : #E5E5E5;
  --nine-color : #94A2B3;
  --ten-color : #299EF3;
  --eleven-color : #5F37EF;
}
